@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Montserrat;
}

/* START NAV */

nav {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 0;
    left: 0;
    background: rgba(209, 208, 208, 0.7);
    text-decoration: none;

}

nav ul li {
    display: inline;
    margin: 0px 15px;
}

nav ul li a {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

/* END NAV */

/* START WELCOME SECTION */

#welcome-section {
    background:rgba(250, 252, 253, 0.85);
    text-align: center;
    font-family: inherit;
    font-size: 45px;
    font-weight: 900;
    height: 100vh;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

#welcome-section img {
    height: 50%;
    width: auto;
    border-radius: 50%;
    padding: auto;
    margin: auto;
}

h1 {
    margin: auto;
}

#subtitle {
    font-family: inherit;
    font-size: 30px;
    font-weight: 500;
    margin: auto;
}

/* END WELCOME SECTION */

/* START PROJECTS SECTION */

#projects {
    text-align: center;
    padding: 5px 0px 0px 0px;
    height: 95%;
    color:rgb(241, 239, 239);
    border-radius: 5px;
}

#project-section-header {
    padding: 10px 0px 0px 0px;
    color:rgb(241, 239, 239);
    font-family: inherit;
    font-weight: 500;
    font-size: 40px;
}

img {
    width: 95%;
    padding: 8px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    margin: 10rem 0px 30px 0px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.project-title {
    margin: 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: rgb(163, 140, 7);
}

.project-title:hover {
    color: rgb(186, 189, 8);
    font-size: 20px;
    transition: font-size 0.2s ease-in;
}

@media (max-width: 750px){
    img {
        max-width: 1fr; 
    }
}

/* END PROJECTS SECTION */

/* START CONTACT SECTION */

#contact {
    text-align: center;
    color:rgb(241, 239, 239);
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
}

.contact-details {
    padding: 0px 15px;
    margin: 0px 15px;
    font-size: 25px;
    text-decoration: none;
    color:rgb(241, 239, 239);
}

.contact-details:hover {
    color:rgb(59, 2, 66);
    transition: color 0.3s ease-in;
}

/* END CONTACT SECTION */
