/* GLOBAL */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Montserrat;
    background-image: url("assets/codeBackground.png"), url("assets/glgBackground.png");
    background-size: 100vw 99vh;
    background-repeat: no-repeat;
}

/* NAV */

nav {
    position: fixed;
    width: 100%;
    text-align: right;
    top: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(209, 208, 208, 0.9), rgba(0, 0, 0, 0.9));
    text-decoration: none;
    display: flex;
}

nav h1 {
    margin: auto auto auto 1%;
    color:#ffffff;
    justify-items: left;
}

nav ul li {
    display: inline;
    margin: 0px 15px;
}

nav ul li a {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

/* WELCOME SECTION */

.welcome {
    background-color:rgba(250, 252, 253, 0.75);
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: -1% -1%;
}

.welcome-img {
    height: 60%;
    width: auto;
    border-radius: 50%;
    margin: auto 0px auto 10%;
}


.about {
    margin: auto;
    text-align: center;
}

.about img {
    height: 50%;
    width: auto;
    margin: auto;
    padding: 5px;
}

.welcome h1 {
    margin: auto;
    padding: 10px;
    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
}

.welcome p {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    padding: 0 15%;
}

.welcome ul {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}

/* PROJECTS SECTION */

section article {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background: rgba(250, 252, 253, 0.75);
}


.glg-background {
    background-image: url("assets/glgBackground.png");
    background-size: 100% 100%;
}

.projects {
    font-family: inherit;
    text-align: center;
    padding: 5px 0px 0px 0px;
    height: 95%;
    border-radius: 5px;
}

.projects h1 {
    margin: auto;
    padding: 50px;
    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
}

.projects img {
    width: 95%;
    padding: 8px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project-tile {
    margin: 10rem 0px 30px 0px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

.project-title {
    margin: 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.project-title:hover {
    font-size: 20px;
    transition: font-size 0.2s ease-in;
}

/* END PROJECTS SECTION */

/* START CONTACT SECTION */

#contact {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;
}

.contact-details {
    padding: 0px 15px;
    margin: 0px 15px;
    font-size: 25px;
    text-decoration: none;
}

.contact-details:hover {
    transition: color 0.3s ease-in;
}

/* END CONTACT SECTION */
